.center{
  text-align: center;
}
.grid-container {
    grid-template-areas:
      'item1'
      /* 'item2' */
      'item3'
      'item4'
      /* 'item3'; */
      ;
    background-color: red;
    padding:10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 15%;
}
.grid-container > div {
    text-align: center;
    padding:0px ;
    font-size-adjust: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    
}
  .item1 { grid-area: item1; }
  /* .item2 { grid-area: item2; } */
  .item3 { grid-area: item3; }
  .item4 { grid-area: item4; }

#name{
    background-color: white;
    margin-left: -10px ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10px ;
    }
.white{
    color: white;
}
  body{
      background-color: gray;
  }
  .shadow{
  /* -webkit-box-shadow: 5px 5px 15px 5px #000000;  */
  box-shadow: 5px 5px 15px 5px #000000;
  }